<h1>Exercise Record</h1>
<p>Please record your exercise! </p>
<br />
<form>
    <fieldset>
        <legend>Add Workout:</legend>
        <label for="name"></label>
        <label>
            Name:
            <input id="name" type="text" name="name">
        </label>
        <br />
        <br />
        <label>
            Reps:
            <input id="reps_input" type="number" name="reps">
        </label>
        <br />
        <br />
        <label>
            Weight:
            <input id="weight_input" type="number" name="weight">
        </label>
        <br />
        <br />
        <label>
            Date:
            <input id="date_input" type="date" name="date">
        </label>
        <br />
        <br />
        <input id="lbs_true" type="radio" name="lbs" value="true" />Lbs</label>
        <input id="lbs_false" type="radio" name="lbs" value="false" />Kg</label>
        <br />
        <br />
        <input type="submit" id="submit_input">
    </fieldset>
</form>

<br />
<br />

<table id="table_workout">
    <thead id="workout_legend">
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Lbs</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody id="workout_result">
        {{#data.workouts}}
        <tr>
            <td id="id" style="display:none">{{id}}</td>
            <td id="name">{{name}}</td>
            <td id="reps">{{reps}}</td>
            <td id="weight">{{weight}}</td>
            <td id="date">{{date}}</td>
            <td id="lbs">{{lbs}}</td>
            <td id="delete"> <input type="button" value="delete" onClick="delete_item(this)" /></td>
            <td id="edit"> <input type="button" value="edit" onClick="edit_item(this)" /></td>
        </tr>
        {{/data.workouts}}
    </tbody>
</table>